.quiz_resultado {
    position: fixed;
    width: 300px;
    top: 150px;
    margin: 0;
    height: 300px;
    display: none;
}

.quiz_resultado span {
    border-radius: 50%;
    background: #ccc;
    border: 1px solid #bbb;
    font-size: 3rem;
    font-weight: bold;
    padding: 50px;
    margin: 40%;
}